# VSCode artifacts
.vscode/

# PlatformIO build output
.pio/

# CMake build artifacts (if applicable)
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
rules.ninja
build.ninja
.ninja_deps
.ninja_log

# Build output files (compiled binaries, maps, etc.)
*.bin
*.elf
*.map

# Large data files (or other non-source artifacts)
*.dat
*.h5
.wav

Firmware-idf/src/secrets.h
Software/data/
data
run_murmurations.ps1
Run_Murmurations.lnk

*.pth
*.h5
*.zip
# Large artifacts
*.pth
*.zip
*.wav

# Large artifacts
*.pth
*.zip
*.wav
